<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly666.ahead.mapper.AnthortyInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly666.ahead.entity.AnthortyInfo">
        <id column="anthorty_id" property="anthortyId" />
        <result column="anthorty_pid" property="anthortyPid" />
        <result column="anthorty_name" property="anthortyName" />
        <result column="anthorty_desc" property="anthortyDesc" />
        <result column="anthorty_url" property="anthortyUrl" />
    </resultMap>

	<select id="getMenus" resultType="com.ly666.ahead.entity.AnthortyInfo">
		select *
		from admin a,
		     anthorty_info ai,
		     role_anthority_info rai
		where a.role_id = rai.role_id
		  and ai.anthorty_id = rai.anthorty_id
		  and a.admin_eamil = #{account}
	</select>
	<select id="getAuth" resultType="java.lang.String">
		select ai.anthorty_name
		from admin a,
		     anthorty_info ai,
		     role_anthority_info rai
		where a.role_id = rai.role_id
		  and ai.anthorty_id = rai.anthorty_id
		  and a.admin_eamil = #{account}
	</select>
</mapper>
